body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    font-family: "Roboto", serif;
    /* margin: 0 70px; */
}

/* HEADER */

header {
    background-color: #1F2937;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
color: white;
font-size: 24px;
font-weight: 800;
padding: 10px 130px;
}

header ul {
    display: flex;
    gap: 20px;
    font-size: 18px;
    font-weight: 400;
    color: #e5e7eb;
}


/* SECTION 1 */


.section-1 {
    background-color: #1F2937;
}

.section-1-container {
    display: flex;
    justify-content: space-between;
    padding: 80px 130px;
}

.left-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 500px;
    color: white;
    font-size: 18px;
}

.right-info {
    padding: 60px 120px;
    display: flex;
    align-items: center;
    background-color: #717d85;
    color: white;
}



.section-1 button {
    border-radius: 5px;
    color: white;
    background-color: #3882f6;
    outline: none;
    border: none;
    padding: 5px 30px;
}

.section-1 h1 {
    font-size: 48px;
    font-weight: 900;
    padding: 0;
    margin: 0;
}

.left-info p {
    font-weight: 200;
    font-size: 16px;
}




/* SECTION 2 */

.section-2 {
    padding: 10px 0px 60px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.section-2 h1 {
 font-size: 36px;
 font-weight: 900;
 color: #1f2937;
}

.boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.boxes div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boxes p {
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    max-width: 130px;
}

.box {
    outline: 2px solid #3882f6;
    height: 120px;
    width: 120px;
    border-radius: 8px;
}


/* SECTION 3 */

.section-3 {
    display: block;
    background-color: #e5e7eb;
}

.section-3-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px 260px;
}

.blockquote {
    font-style: italic;
    font-weight: 200;
    font-size: 36px;
    text-align: left;
  /* padding: 0; */
}

.name {
display: flex;
justify-content: flex-end;
padding-left: 500px;
margin-top: -60px;
}


/* SECTION 4 */


.section-4 {
    padding: 70px 100px;
}

.section-4-container {
    background-color: #3882f6;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 100px; */
    padding: 20px 0px;
}

.cta {
    display: block;
    justify-content: flex-start;
    color: white;
    padding-left: 100px;
}

.cta h1 {
    font-size: 18px;
    font-weight: 500;
}

.cta p {
    font-weight: 200;
    font-size: 15px;
    margin-top: -10px;
}

.cta-button {
    display: block;
    justify-content: flex-end;
    padding-right: 100px;
}

.cta-button button {
    border-radius: 5px;
    border: 2px solid white;
    background-color: #3882f6;
    color: white;
    padding: 4px 25px;
}


/* FOOTER */


footer {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: white;
    font-size: 12px;
    padding: 12px 0;
}
/*  */